#title-container {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title {
  font-size: 5rem;
  color: black;
  margin-bottom: 1rem;
}

#author, #date {
  font-size: 2rem;
  text-align: end;
  color: #2f2f2f;
}